<div>
    <h1>Details page</h1>

    <button class="go-back-button" mat-raised-button (click)="handleGoBackButtonClick($event)">Go back</button>
    
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title class="mat-card-title">
                {{details.get("title")}}
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <img class="mat-card-image" mat-card-image src="{{ details.get('urlToImage') }}">

            <div>
                {{ details.get('content')}}
            </div>
        </mat-card-content>
    </mat-card>


</div>
