.grid-container {
  margin: 20px;
}

.dashboard-card {
  width: 95%;
}


.dashboard-card-content {
  text-align: center;
}

.mat-card-image {
  height: 250px;
  width: 250px;
  margin-top: 1rem !important;
}

.example-full-width {
  width: 75%;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}
